@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--neutral-950: #0a0a0a;
	--neutral-0: #ffffff;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

body {
	color: var(--neutral-950);

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}

p {
	margin-bottom: 1rem;
	margin-top: 0;
}
ol,
ul {
	padding-left: 2rem;
}
ol,
ul,
dl {
	margin-bottom: 1rem;
	margin-top: 0;
}
ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}
b,
strong {
	font-weight: bolder;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}
figure {
	margin: 0 0 1rem;
}
img,
svg {
	vertical-align: middle;
}
table {
	border-collapse: collapse;
	caption-side: bottom;
}
caption {
	color: rgba(173, 181, 189, 0.75);
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	text-align: left;
}
th {
	text-align: inherit;
	text-align: -webkit-match-parent;
}
thead,
tbody,
tfoot,
tr,
td,
th {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
}
label {
	display: inline-block;
}
button {
	border-radius: 0;
}
button:focus:not(:focus-visible) {
	outline: 0;
}
input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}
button,
select {
	text-transform: none;
}
[role='button'] {
	cursor: pointer;
}
select {
	word-wrap: normal;
}
select:disabled {
	opacity: 1;
}
[list]:not([type='date']):not([type='datetime-local']):not([type='month']):not(
		[type='week']
	):not([type='time'])::-webkit-calendar-picker-indicator {
	display: none !important;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
	appearance: button;
}
button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
	cursor: pointer;
}
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
textarea {
	resize: vertical;
}
[hidden] {
	display: none !important;
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
	color: var(--neutral-950);
	font-weight: 700;
}
